<!DOCTYPE html>
<html>
    <head>
        <title>Yummy</title>
   </head>
    <body>
        <h1>O Yummy</h1>
        {{#if fortune}}
            <p>Oto los na dziś:</p>
            <blockquote>{{fortune}}</blockquote>
        {{/if}}
    </body>
</html>