<!DOCTYPE html>
<html>
    <head>
        <title>Yummy</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento" rel="stylesheet">

        <link rel="stylesheet" href="css/basic.css" />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/index-media.css" />
   </head>
    <body>
        <header>
            <div id="header-cloth" class="center">
                <div></div>
            </div>
            <div class="center">
                <div class="flex-center">
                    <div id="header-container">
                        <h1 class="flex-center">Yummy!</h1>
                        <div class="flex-center">
                            <button>Wyszukaj po produktach</button>
                            <button>Propozycja na dziś</button>
                            <button>Wyszukaj z bazy</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div id="description">
                <div id="description-wrapper" class="center">
                    <div>
                        <section>
                            <h3>Do czego służy?</h3>
                            <p>Kiedy nie wiesz, co dzisiaj przyrządzić na obiad, bądź chcesz wykorzystać pewne produkty, Yummy wybierze dla ciebie najlepszą opcję.</p>
                        </section>
                    </div>
                    <div></div>
                    <div></div>
                    <div>
                        <section>
                            <h3>Jak obsługiwać Yummy?</h3>
                            <p>To nadzwyczaj proste - wybierz jedną z trzech opcji na samej górze strony lub kliknij <a href="#top">tutaj</a></p>
                        </section>
                    </div>
                </div>
            </div>

            <div id="categories">
                <div class="category">
                    <div>
                        <div class="cloth flex-center">
                            <div class="category-container">
                                <p>Idealne jedzenie dla tych, którzy chcą się zdrowo odżywiać.</p>
                                <div class="flex-center"><button>Szukaj</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <div>
                        <div class="cloth flex-center">
                            <div class="category-container">
                                <p>Coś mniej skromnego, bogatszego w tłuszcz.</p>
                                <div class="flex-center"><button>Szukaj</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <div>
                        <div class="cloth flex-center">
                            <div class="category-container">
                                <p>Maniacy owoców błyskawicznie rozpoczą serfing tej kategorii.</p>
                                <div class="flex-center"><button>Szukaj</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div>
                <p>Wszelkie prawa zastrzeżone</p>
                <br>
                <h3>Marek Kurańda</h3>
                <h4>Yummy &copy; 2022</h4>
            </div>
        </footer>
    </body>
</html>