<!DOCTYPE html>
<html>
    <head>
        <title>Yummy</title>

        <meta name="author" content="Marek Kurańda" />
        <meta name="creation-date" content="2022-02-22" />
        <meta name="description" content="Najlepsze dania na dziś!" />
   </head>
    <body>
        {{!-- <p><a href="/">/</a></p>
        <p><a href="/about">/about</a></p>
        <p><a href="/home">/home</a></p>
        <p><a href="/404">/404</a></p>
        <p><a href="/500">/500</a></p> --}}

        {{{body}}}
    </body>
</html>