<!DOCTYPE html>
<html>
    <head>
        <title>Yummy</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento" rel="stylesheet">

        <link rel="stylesheet" href="css/basic.css" />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/search.css" />
        <link rel="stylesheet" href="css/index-media.css" />
   </head>
    <body>
        {{!-- <header>
            
        </header> --}}

        <main>
            <section class="result-box">
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div>
                <p>Wszelkie prawa zastrzeżone</p>
                <br>
                <h3>Marek Kurańda</h3>
                <h4>Yummy &copy; 2022</h4>
            </div>
        </footer>
    </body>
</html>