<section id="filters">
    <div>
        <h2>Składniki</h2>
        <div class="category-container">
            <div class="category">
                <h3>Kategoria</h3>
                <ul>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                </ul>
            </div>
            <div class="category">
                <h3>Kategoria</h3>
                <ul>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                </ul>
            </div>
            <div class="category">
                <h3>Kategoria</h3>
                <ul>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h2>Typy</h2>
        <div class="category-container">
            <div class="category">
                <h3>Kategoria</h3>
                <ul>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<main>
    <section class="result-box">
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
        <div class="result-container flex-center">
            <div class="result-image">
                <img src="img/berries.jpg" alt="img-title" />
            </div>
            <div class="result-label">
                <div class="result-description">
                    <div class="result-title">Tytuł</div>
                    <div class="result-text">Opis tego czegoś</div>
                </div>
                <div class="result-button flex-center">
                    <button>Zobacz</button>
                </div>
            </div>
        </div>
    </section>
</main>