<!DOCTYPE html>
<html>
    <head>
        <title>Yummy</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento" rel="stylesheet">

        <link rel="stylesheet" href="css/basic.css" />
        <link rel="stylesheet" href="css/search.css" />
        <link rel="stylesheet" href="css/search-media.css" />
   </head>
    <body>
        <header>
            <div class="flex-center">
                <div class="flex-left">
                    <div id="logo">LOGO</div>
                    <h1>Yummy</h1>
                </div>
                <nav class="flex-left">
                    <a href="/">Strona główna</a>
                    <a href="/about">O stronie</a>
                </nav>
            </div>
        </header>

        <section id="filters" class="flex-center">
            <div>
                <h2>Składniki</h2>
                <ul>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                </ul>
            </div>
            <div>
                <h2>Kategorie</h2>
                <ul>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                </ul>
            </div>
            <div>
                <h2>Typy</h2>
                <ul>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                    <li><input type="checkbox" /><label>Marchew</label></li>
                </ul>
            </div>
        </section>

        <main>
            <section class="result-box">
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
                <div class="result-container flex-center">
                    <div class="result-image">
                        <img src="img/berries.jpg" alt="img-title" />
                    </div>
                    <div class="result-label">
                        <div class="result-description">
                            <div class="result-title">Tytuł</div>
                            <div class="result-text">Opis tego czegoś</div>
                        </div>
                        <div class="result-button flex-center">
                            <button>Zobacz</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div>
                <p>Wszelkie prawa zastrzeżone</p>
                <br>
                <h3>Marek Kurańda</h3>
                <h4>Yummy &copy; 2022</h4>
            </div>
        </footer>
    </body>
</html>