* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Sacramento", sans-serif;
    font-family: "Montserrat", sans-serif;
}

:root {
    /* Web colors */
    --cooper: #b1740f;
    --orange-yellow-crayola: #ffd07b;
    --honey-yellow: #fdb833;
    --spanish-blue: #296eb4;
    --blue-de-france: #1789fc;

    --cooper-alpha: #b1740f77;
    --orange-yellow-crayola-alpha: #ffd07b77;
    --honey-yellow-alpha: #fdb83377;
    --spanish-blue-alpha: #296eb477;
    --blue-de-france-alpha: #1789fc77;

    /* Constant variables */
    --phi: 1.618;
}

/*
    footer.css

    Contains footer part
*/
footer {
    background-color: var(--cooper);
}

footer > div {
    padding: 2rem 0;
    text-align: center;
}

button {
    background-color: #3f51b5;
    color: white;
    border: 2px solid #3f51b5;
    border-radius: 1em;
    padding: 0.5em 2em;

    align-items: center;
    justify-content: center;

    box-shadow: rgb(0 0 0 / 0) 0 0 5px 2px;
    transition: 300ms;
}
button:hover {
    background-color: white;
    color: #3f51b5;
    border: 2px solid #3f51b5;

    cursor: pointer;

    box-shadow: rgb(0 0 0 / 23%) 0 0 5px 2px;
    transition: 300ms;
}
button:disabled {
    opacity: 0.618;
    cursor: not-allowed;
}
button.square {
    width: 16px;
    height: 16px;
    padding: 0;
}

a {
    /* cursor: alias; */
    cursor: pointer;
    transition: 0.5s;
    color: #0000ee;
}
a:hover {
    text-shadow: 0px 0px 2px;
    transition: 0.5s;
}
a:visited {
    color: #0000ee;
}

input[type="checkbox"] {
    width: calc(1em * var(--phi));
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: box-shadow 0.3s;
    background: var(--orange-yellow-crayola);
    cursor: pointer;
    border: 0.2em outset var(--cooper);
    appearance: none;
    -webkit-appearance: none;
}
input[type="checkbox"]:hover {
    /* background: var(--cooper-alpha); */
    transition: 618ms;
}
input[type="checkbox"]:checked {
    box-shadow: inset 0 0 0 30px var(--cooper);
}
input:not(:placeholder-shown):required:valid,
textarea:not(:placeholder-shown):required:valid {
    background-color: chartreuse;
}
input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid {
    background-color: orangered;
}

.center {
    width: 1100px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    --i-size: calc(1em * var(--phi));
    width: var(--i-size);
    height: var(--i-size);
}

@media all and (max-width: 1100px) {
    button {
        width: 16em;
        height: 4em;
        font-size: 10px;
    }

    .center {
        width: 80%;
    }
}
