body {
    /* Header & section.filter */
    --mh: 160px;
    --wh: calc(100vw - (2 * var(--mh)));
    --hh: 6em;
}

/*
    header.css
    Contains header part
*/
header {
    /* Header left */
    --hl: calc(var(--wh) / var(--phi));
    /* Header right */
    --hr: calc(var(--wh) - var(--hl));

    background-color: var(--cooper);
    height: var(--hh);
}
header > div {
    margin: 0 var(--mh);
}
header > div > div {
    width: var(--hl);
    height: var(--hh);
    background-color: transparent;
}
#logo {
    margin: 0 1em;
}
header > div > nav {
    width: var(--hr);
    height: var(--hh);
    background-color: transparent;
}
header > div > nav > a+a {
    margin-left: 1em;
}
header .flex-left {
    flex-wrap: wrap;
}



@media all and (max-width: 900px) {
    header {
        height: auto;
    }
    header > div {
        display: block !important;
    }
    header > div > .flex-left {
        width: auto !important;
    }
}