main {
    background-color: var(--orange-yellow-crayola);
    padding: 8px;
}

ul {
    list-style: none;
}

main > div + div {
    margin-top: 0.5em;
}

.meals-add-nav {
    background-color: var(--honey-yellow);
    padding: 1em;
    border-radius: 0.5em;
}

.meals-add-nav > a > i {
    margin-right: 0.5em;
}

.meals-add-container {
    background-color: var(--honey-yellow);
    padding: 1em;
    border-radius: 0.5em;
}

.meals-add-container > form > div {
    margin-top: 1em;
}
