main {
    background-color: var(--orange-yellow-crayola);
    padding: 8px;
}
.result-nav {
    background-color: var(--honey-yellow);
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
}
.result-nav > a > i {
    margin-right: 0.5em;
}

.result-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.result-image > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5em;
}
.result-details {
    margin: 2em;
}
.result-details > ul {
    list-style: none;
}
.result-details > ul > li:first-child {
    margin-bottom: 1em;
    text-shadow: 1px 1px 2px;
}
.result-details > div {
    margin-top: 1em;
}
.result-details > div > p {
    overflow-y: scroll;
    height: 24em;
}

.result-ingredients {
    grid-area: 2 / 1 / span 1 / span 2;
    padding: 2em;
    margin-top: 0.2em;
    background-color: var(--honey-yellow);
    border-radius: 0.5em;
}
.result-ingredients > h3 {
    margin-bottom: 2em;
    text-shadow: 1px 1px 2px;
}
.result-ingredients > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.result-ingredients > ul > li {
    margin: 1em;
}
.result-ingredients > ul > li > span {
    margin-left: 0.618em;
    cursor: default;
}
