/*
    Overridden query by basic.css
    about button styling
    using query
*/
@media all and (max-width: 1100px) {
    button {
        width: 9em;
        height: 3em;
        font-size: 10px;
    }

    /* Other styles */
    #filters {
        flex-direction: column;
        height: auto;
    }
    #filters > div {
        width: 100%;
        height: auto;
    }
}

/*
    Filters queries
*/
@media all and (max-width: 700px) {
    #filters {
        width: 100%;
        margin: 0;
    }
} 