/*
    Main settings
    Body and other
*/
body {
    background-color: var(--orange-yellow-crayola);
}

form {
    display: flex;
    width: var(--wh);
    margin: 0 var(--mh);
    background-color: var(--honey-yellow);
    border-radius: 0 0 1em 1em;
    flex-direction: column;
}
#filters > form > div {
    flex: 1;
    height: 100%;
    padding: 1em;
}
.category-container {
    display: flex;
    flex-wrap: wrap;
}
.category-container > div {
    padding: 1em;
}
#filters > form > div .category {
    margin-top: 1em;
    width: 33%;
}
.category > h3,
.category li {
    text-transform: capitalize;
}
#filters div ul {
    padding: 1em;
    list-style: none;
}
#filters div ul > li {
    display: flex;
    align-items: center;
}
#filters div ul > li + li {
    padding-top: 0.5em;
}
#filters div ul > li > input[type="checkbox"] + label,
#filters div ul > li > input[type="checkbox"] + .img-link,
#filters div ul > li > label > .img-link,
#filters div ul > li > label > p {
    margin-left: 0.2em;
    cursor: pointer;
    user-select: none;
}

/* Below 1000px */
@media all and (max-width: 700px) {
    .result-box {
        --in-row: 1;
        --spc: 8px;
        --ratio: calc(
            (100vw - var(--spc) * calc(var(--in-row) - 1)) /
                (var(--in-row) * (1 + var(--phi)))
        );

        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - (var(--ratio) * var(--in-row)));
        margin: var(--spc) auto;
    }
    /*
        Margin above elements, but starting with 3rd one (n+3)
        n+4 means line with 3 elements
    */
    .result-container:nth-child(n + 1) {
        margin-top: var(--spc);
    }
}
/* 700px-1400px */
@media all and (min-width: 700px) and (max-width: 1400px) {
    .result-box {
        --in-row: 2;
        --spc: 8px;
        --ratio: calc(
            (100vw - var(--spc) * calc(var(--in-row) - 1)) /
                (var(--in-row) * (1 + var(--phi)))
        );

        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - (var(--ratio) * var(--in-row)));
        margin: var(--spc) auto;
    }

    /*
        Margin between left and right element
        2n*1 -> the first one in two elements line
    */
    .result-container:not(:nth-child(2n + 1)) {
        margin-left: var(--spc);
    }
    /*
        Margin above elements, but starting with 3rd one (n+3)
        n+4 means line with 3 elements
    */
    .result-container:nth-child(n + 3) {
        margin-top: var(--spc);
    }
}
/* Upper than 1400px */
@media all and (min-width: 1400px) {
    .result-box {
        --in-row: 3;
        --spc: 8px;
        --ratio: calc(
            (100vw - var(--spc) * calc(var(--in-row) - 1)) /
                (var(--in-row) * (1 + var(--phi)))
        );

        display: flex;
        flex-wrap: wrap;
        width: calc(100vw - (var(--ratio) * var(--in-row)));
        margin: var(--spc) auto;
    }
    .result-container:not(:nth-child(3n + 1)) {
        margin-left: var(--spc);
    }
    .result-container:nth-child(n + 4) {
        margin-top: var(--spc);
    }
}

/*
    Result found and defined by your query
    inside search bar.

    result-container
        result-image
        result-label
            result-description
            result-button
*/
.result-container {
    --w: calc(var(--ratio) * var(--phi));
    --h: calc(var(--w) / var(--phi));

    width: var(--w);
    height: var(--h);
    background-color: var(--honey-yellow);
    /* box-shadow: 0 0 2px 2px; */

    transform: scale(1);
    transition: 618ms;
}
.result-container:hover {
    box-shadow: 0 0 var(--spc) var(--spc) var(--orange-yellow-crayola);

    transform: scale(var(--phi));
    transition: 618ms;
    z-index: 2;
}
.result-image {
    width: var(--h);
    height: var(--h);
}
.result-image img {
    width: var(--h);
    height: var(--h);
    object-fit: cover;
}
.result-description {
    --hd: calc(var(--h) / var(--phi));
    width: var(--hd);
    height: var(--hd);
    background-color: var(--cooper);
}
.result-button {
    --wb: calc(var(--w) - var(--h));
    --hb: calc(var(--h) / var(--phi)); /* hb = h - hd */

    width: var(--wb);
    height: calc(var(--h) - var(--hb));
}

.result-title {
    --htt: calc(var(--hd) - (var(--hd) / var(--phi)));

    width: var(--hd);
    height: var(--htt);
    padding: calc(var(--spc) / 2);
}
.result-text {
    --htx: calc(var(--hd) / var(--phi));

    width: var(--hd);
    height: var(--htx);
    font-size: calc(1em / var(--phi));
    /* font-weight: 700; */
    padding: calc(var(--spc) / 2);
}

/* --- --- --- --- --- --- */
#adder {
    margin: 2em 0;
}
#adder > div:nth-child(1) {
    margin-bottom: 0.5em;
}

#pages {
    margin: 2em 0;
}
#pages > a,
#pages > p {
    margin-right: 0.5em;
}
