@media only screen and (max-width: 1024px) {
    button {
        transform: scale(calc(var(--phi) * 2));
        margin-bottom: 2em;
    }

    #adder {
        padding: 4em;
    }
    #adder p,
    #pages {
        font-size: calc(var(--phi) * 1em);
        margin-bottom: 1em;
    }
    #pages p,
    #pages a {
        margin-right: 1em;
    }

    #filters {
        font-size: calc(var(--phi) * 1em);
    }

    form .category {
        width: 100% !important;
    }
    form input {
        font-size: calc(var(--phi) * 0.5em);
    }

    .result-box {
        --in-row: 1;
    }
    .result-container:nth-child(n + 1) {
        margin-top: 0;
    }
    .result-container:not(:nth-child(2n + 1)) {
        margin: 0;
    }
    .result-container + .result-container {
        margin-top: var(--spc);
    }
    .result-container button {
        transform: scale(calc(var(--phi) * 1.618));
    }
}
